.supply_wrap{
  .header{ font-size: 20px; text-align: center; line-height: 40px;}
  .linkList a{
    display: block;
    line-height: 30px; text-align: center;
    border-bottom: 1px solid #ddd;
  }
}