.counter_wrap{
  text-align: center;
  .header{
    font-size: 14px;
    line-height: 40px;
  }
  .button{
    line-height: 30px; padding: 0 12px; border-radius: 2px;
    background: #31a5e0; margin-right: 10px; color: #fff;
  }
  .red{ color: red; font-weight: bold;}

}