.home_wrap{
  .passage{}
  .footer{
    color: #eee;
    .item a{
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      color: #333;
      &.cur{ text-decoration: underline; color: #f60;}
    }

  }

}

