.pages_Buy{
  padding: 0 0.5rem;
  .header{ font-size: 20px; text-align: center;
    font-weight: bold;
  }
  .listItem{
    padding:0.4rem 0;
    .left{
      width: 5rem;
      height: 5rem;
    }
    .right{

    }
  }

}