.pages_Buy{
  padding: 0 0.7rem;
  .header{ font-size: 16px; text-align: center;
    font-weight: bold;
  }
  .listItem{
    padding:0.7rem 0;
    border-bottom: 1px solid #ddd;
    .left{width: 100px;
      height: 100px;
    }
    .right{
      margin-left: 10px;
      h2{ font-size: 16px; height: 30px;  line-height: 30px; }
      p{ font-size: 12px; color: #666;}
    }
  }
  .loading{ font-size: 0.6rem; text-align: center; color: #666; line-height: 1.5rem;}
  .toEnd{ font-size: 0.6rem; text-align: center; color: #666;line-height: 1.5rem;}
}